{%extends "base.html"%}

{% block content%}
<div class="container mt-5">
  <h1 class="text-center">Upload Image</h1>
  <form action="/images" method="POST" enctype="multipart/form-data">
    <div class="card mx-auto" style="max-width: 300px">
      <div class="card-body">
        <div class="form-group">
          <div class="text-center">
            <div class="mb-3">
              <img id="preview" class="img-fluid" src="#" alt="Preview" />
            </div>
            <label for="photo" class="btn btn-primary btn-block">
              Select Photo
              <input
                type="file"
                class="d-none"
                id="photo"
                name="photo"
                onchange="previewImage(event)"
              />
            </label>
          </div>

          <button type="submit" class="btn btn-success btn-block" onclick="removePreview()">
            Upload
          </button>
        </div>
      </div>
    </div>
  </form>
  <br>
  <br>

<div class="row">
  {% for image in user_images %}
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <img src="data:image/{{ image.mimetype }};base64,{{ image.image_source }}" class="img-fluid d-inline" style="width: 300px; height: 200px;">
        <h6>&nbsp;&nbsp;&nbsp;&nbsp;</h6>
        <form action="/images/delete/{{ image.id }}" method="POST" class="delete-form">
          <input type="hidden" name="form_identifier" value="{{ image.id }}">
          <button class="btn btn-danger btn-block"  style="width: 300px;">DELETE</button>
        </form>
    </div>
  {% endfor %}
</div>

</div>

<script>
  function previewImage(event) {
    var preview = document.getElementById("preview");
    var file = event.target.files[0];
    var reader = new FileReader();

    reader.onload = function (event) {
      preview.src = event.target.result;
    };

    reader.readAsDataURL(file);
  }

  function removePreview() {
    var preview = document.getElementById("preview");
    preview.src = "";
  }
</script>
{% endblock %}
